{% extends 'base.html' %}
{% load static%}
{% block content %}

    <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/post-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">
                <h1>{{ latest_post.title }}</h1>
                <h2 class="subheading">{{ latest_post.subtitle }}</h2>
                <span class="meta">Posted by
                  <a href="#">{{ latest_post.author }}</a>
                  on {{ latest_post.date_posted }}</span>
              </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ latest_post.content }}
        </div>
      </div>
    </div>
  </article>

  <hr>
{% endblock %}