{% extends 'base.html' %}

{% load static %}

{% block content %}

 <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/contact-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Login</h1>
            <span class="subheading">Login to KBE Blog</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  {% include 'partials/_alerts.html' %}

    <!-- Login Form -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p> Enter your information below to login! </p>
        <form action="{% url 'login' %}" name="login" id="login" method="POST" novalidate>
          {% csrf_token %}
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Username</label>
              <input type="text" class="form-control" name="username" placeholder="Username" id="username" required data-validation-required-message="Please enter your username">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password" id="password" required data-validation-required-message="Please enter your password">
              <small class="text-muted">
                <a class="ml-2" href="{% url 'password_reset' %}">Forgot Password?</a>
              </small>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Login</button>
          </div>
          <div class="border-top pt-3">

        </div>
        </form>
      </div>
    </div>
  </div>

  <hr>

{% endblock %}