{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

 <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/contact-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Reset Password</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  {% include 'partials/_alerts.html' %}

    <!-- Login Form -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form method="POST" novalidate>
          {% csrf_token %}
          <div class="control-group">
            {{ form|crispy }}
          </div>
          <br>
          <div class="form-group">
            <button type="submit" class="btn btn-info" id="resetPasswordButton">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <hr>

{% endblock %}