{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/about-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Password Reset Completed</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="alert alert-success mb-2">
      Your password has been set.
    </div>
    <a href="{% url 'login' %}">Sign In Here</a>
  </div>
  <hr>

{% endblock %}