{% extends 'base.html '%}
{% load static %}
{% block content %}
    <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ user.profile.cover_photo.url }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
              <img src="{{ user.profile.image.url }}" alt="" class="rounded-circle account-img">
            <h1>{{ user.username }}</h1>
            <span class="subheading">Profile Page</span>
          </div>
        </div>
      </div>
    </div>
  </header>



  {% include 'partials/_alerts.html' %}


  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if user_post %}
          {% for post in user_post %}
          <div class="post-preview">
            <a href="#">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ post.subtitle }}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">{{ post.author }}</a>
              on {{ post.date_posted|date:"F d, Y" }}</p>
          </div>
          {% endfor %}
        {% else %}
        <div class="post-preview">
            <a href="#">
              <h2 class="post-title">
                No Posts Available By You
              </h2>
            </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <hr>





{% endblock %}